/* Writing a common CSS for the Website  */
* {
  text-align: center;
  justify-content: center;
  line-height: 2;
  text-decoration: none;
  list-style: none;
}

.download-icon {
  height: 50px;
  width: 50px;
}

#download-resume {
  position: absolute;
  bottom: 30px;
  right: 50px;
  display: inline;
  /* background-color: aqua; */
}

#download-resume button {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

#download-resume button:hover {
  font-weight: 900;
  color: rgb(120, 15, 255);
}

h1 {
  font-size: 29px;
  font-weight: 800;
}

p {
  font-size: 22px;
}

/* Navigation Bar CSS is Written here  */
.navbar {
  display: flex;
  margin-top: 4vw;
  margin-bottom: 1vw;
}

.logo img {
  width: 50px;
}

.navlink {
  width: 70%;
}

.navlink a {
  color: black;
  padding: 0.5vw 1vw;
  margin: 1vw 0.5vw;
  font-size: 22px;
}

.navlink a:hover {
  color: rgb(120, 15, 255);

}

.navbar button {
  background-color: white;
  color: rgb(120, 15, 255);
  padding: 0.5vw 2vw;
  border: 2px solid rgb(120, 15, 255);
  font-size: 15px;
  border-radius: 25px;
}

/* CSS for home section  */
.home-section {
  height: 79vh;
}

.home-container {
  padding-top: 2vw;
}

.home-container img {
  width: 50%;

}

/* CSS for about section  */

.about-container {
  background-color: rgb(120, 15, 255);
  color: white;
  padding: 5vw;
}


/* CSS for internship section  */

.internship-section {
  height: 60vh;
  display: flex;
  align-items: center;
}

.internship-container {
  display: flex;
  flex-wrap: wrap;
}

.internship img {
  margin: 2vw;
  width: 150px;
}

/* contact css is written here  */


/* CSS for Footer section  */

.startproject {
  display: flex;
  background-color: rgba(35, 6, 98, 0.942);
  color: white;
}

.startproject p {
  padding-top: 0.8vw;
  font-size: 18px;
}

.startproject button {
  margin-top: 1.5vw;
  background-color: transparent;
  color: white;
  padding: 0.5vw 3vw;
  font-size: 15px;
  border: solid rgb(120, 15, 255);
  border-radius: 25px;
}

.startproject div {
  padding: 0vw 3vw;
}

.footer-links {
  display: inline;
}

.footer-links a {
  margin: 0vw 0.5vw;
  color: rgb(120, 15, 255);
}

/* Button CSS is written here  */
button {
  background-color: transparent;
  color: rgb(120, 15, 255);
  border: 2px solid rgb(120, 15, 255);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(120, 15, 255);
  color: white;
}

.button {
  background-color: transparent;
  color: rgb(120, 15, 255);
  border: 2px solid rgb(120, 15, 255);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  background-color: rgb(120, 15, 255);
  color: white;
}